body {
    color: #eee;
    min-width: 400px;
    height: 100px;
    padding: 36px;
    font-size: 13px !important;
    background: linear-gradient(300deg, #151435, #19012a);
    font-family: "Inter", "Roboto", sans-serif !important;
    font-weight: 200 !important;
}

.special-text {
    color: red;
}

.active {
    border: 3px solid rgb(0, 234, 255) !important;
    color: white !important;
}
h2,
h3,
button {
    font-weight: 200 !important;
}
.project-card {
    border: 1px solid rgb(94, 7, 145);
    border-radius: 8px;
    padding: 8px 24px !important;
    margin: 12px auto;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(120deg, #2b2b4d, #230f2d);
    color: rgb(161, 162, 182);
}
button {
    background: transparent;
    border: 1px solid grey;
    border-radius: 4px !important;
    padding: 4px 8px;
    color: rgb(161, 162, 182);
    transition: all 0.2s;
}
button:hover {
    background-color: #a6a6a6;
    color: white;
    border-color: #5ea2b8;
    transform: scale(1.02);
}
.query-display {
    font-size: 0.9rem;
    color: grey;
    word-break: break-all;
}
.project-card-action-active:hover {
    background: linear-gradient(120deg, #17bdaf, #0574a3);
    color: #ffffff;
}
.project-card-action-delete:hover {
    background: linear-gradient(120deg, #7d4141, #641212);
}
.project-card-id {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border: 1px solid #737373;
    text-align: center;
    border-radius: 100%;
    font-size: 0.8rem;
    color: #737373;
}
#project-name,
#project-query {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #45d1ff;
    background: linear-gradient(120deg, #b4f9f6, #61e7f6);
    outline: none;
}
#project-name:focus,
#project-query:focus {
    border-color: #937530;
}
#project-name::placeholder,
#project-query::placeholder {
    color: #18a7d3;
}
button[type="submit"] {
    background: linear-gradient(120deg, #47477d, #4b1f61);
    color: white;
    border: 0px solid #00bcd500;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all ease 0.9s !important;
    font-size: 0.8rem;
    float: right;
    margin: 8px 0px;
    transform: scale(1);
}
button[type="submit"]:hover {
    background: linear-gradient(120deg, #2b2b4d, #230f2d);
}
#header {
    padding: 12px;
    border-radius: 8px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}
#form-row {
    border-radius: 8px;
    padding: 8px;
    padding-top: 16px;
    margin-bottom: 16px;
}
#top-bar {
    background: linear-gradient(120deg, #17bdaf, #0574a3);
    border-radius: 8px;
}

#config-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0px 16px;
    color: #ffffff;
}
#config-div input {
    margin-right: 8px;
}
#candidates-modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(300deg, #151435, #19012a);
    left: 0;
    padding: 16px;
    overflow: auto;
    min-height: 100vh;
}
#close-modal {
    position: fixed;
    right: 16px;
    top: 16px;
    cursor: pointer;
}
#close-modal-button {
    border-radius: 100% !important;
    width: 30px;
    height: 30px;
    line-height: 0;
    padding: 0;
    background-color: #2b2b4d;
}
.candidate-item {
    display: flex;
    color: aliceblue !important;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}
.candidate-item:hover {
    color: white;
    background: #2b2b4d;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.candidate-item a {
    color: aliceblue !important;
}
